.shipping{
  width: 100%;
  margin: 2rem 0;
  padding: 2rem 0;
  background: #a04101;
  color: white;
  text-align: center;

  @media screen and (min-width: 766px) {
  }

  &-details{
    line-height: 60px;
  }
  
  h2{
    margin: 0;
  }
  p{
    font-weight: 500;
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
  }
  i{
    font-size: 4rem;
  }

  .car{
    animation: car 8s ease-in-out infinite;
  }

}

@keyframes car{
  0% {
    transform: translateX(-500px);
  }
  100%{
    transform: translateX(0);
  }
}