@import url("https://fonts.googleapis.com/css2?family=Reggae+One&display=swap");

$font-title: "Reggae One", cursive;
.hero {
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  
  .image-container{
    width: 100%;
    margin: 0;
    height: 50vh;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      margin: 0;
    }
  }

  &-intro {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    background: rgba($color: #FFF, $alpha: 1);
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;  
    padding: 2rem 0;
    
    .hero-intro-details {
      letter-spacing: 0.1rem;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      height: 100%;
      
      .logo {
        font-size: 8rem;
        border-radius: 50%;
        background: black;
        color: white;
        padding: 1rem;
      }
      h1 {
        font-size: 2.2rem;
      }
      h3 {
        font-size: 1.4rem;
      }
      span {
        font-size: 1.2rem;
        font-weight: normal;
      }

      button {
        width: 100%;
        margin: 2rem auto 1rem auto;
        padding: 0;
      }
    }
  }
  @media screen and (min-width: 766px) {
    .image-container{
      img{
        object-fit: contain;
      }
    }
    &-intro {
      height: fit-content;
      
      .hero-intro-details {
        width: 50%;
      }
      span {
        font-weight: bold;
      }
    }
  }
}
