.categories-container{
  width: 100%;
  height: fit-content;
  
  .categories {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}


