.shipping{
  text-align: center;
  padding: 2rem 0;
  // background: linear-gradient(to left, #1a00e0, #1002af);
  filter: opacity(.9);
  // color: white;
  background: whitesmoke;
  
  h2{
    margin: 0;
  }
  p{
    font-weight: 500;
    font-size: 1.2rem;
  }
  i{
    font-size: 4rem;
  }
}