
.header{
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: black;
  position: relative;

  .logo-container{
    height: 100%;
    width: 50%;
    color: white;
    margin-left: 10%;
    
    .logo{
      font-size: 5rem;
      line-height: 70px;
      background-color: black;
    }
  }
}